*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.dart filter=lfs diff=lfs merge=lfs -text
*.filecache filter=lfs diff=lfs merge=lfs -text
*.stamp filter=lfs diff=lfs merge=lfs -text
*.dill filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/.dart_tool/package_config_subset filter=lfs diff=lfs merge=lfs -text
/.dart_tool/version filter=lfs diff=lfs merge=lfs -text
*.flutter-plugins filter=lfs diff=lfs merge=lfs -text
*.flutter-plugins-dependencies filter=lfs diff=lfs merge=lfs -text
*.metadata filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.kt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.Z filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/assets/debug/flutter_assets/isolate_snapshot_data filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.frag filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/assets/debug/flutter_assets/vm_snapshot_data filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
*.dex filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/dex_archive_input_jar_hashes/debug/out filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/dex_number_of_buckets_file/debug/out filter=lfs diff=lfs merge=lfs -text
*.last_build_id filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/flutter/debug/flutter_assets/vm_snapshot_data filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/1HIvrg1Aso7LpwMjREjAGFH363w= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/3uMbmbwA+Mh8f0Py7rxedRMz9to= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/4VyAg7BZzRe6ye3jt6HT227clus= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/4fqrlw2RY4LwnUf3uaslgViJ58k= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/6V4oAW27HNqq+0yL_zvXekj5ljY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/7pFbbEVHOCHgJbYo4QpZbu0xLsY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Dqaxq5_WrOPwDx1WR4Poy157yRA= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/LBgfe361xsnSlsp5XYgIN_Whiuw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Nd0KaNtDrF4Vg3bvzwWc0WQb8lU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Owr482WTT_nb6cWDjLD9aBbK8Rk= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/QZUHmRRbw9J3x2RMqDbFfK1E8B4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/QpN_veZ11nMkZOm5es2Rq1rNZGo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Ss2Msn8j_KJUJ+GSXae4a6gmvCg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/V+QKMzJntr7E9MmhF9hdoZnNk2Y= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/We3uCM+MAKKAY9LjYR4CK53haxc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/WgM5NmRhaHLqqhxaR5YKww2uz5A= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZJ8vREghNuyRmA7+2vnmo+2NHYo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/_8pTOU0sFG9iM01GQ77tuPiCMYU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/aNVN_n+gf6YWP3iy_jQXHJIjwi4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/c3JlM8BHzgYFvJq+SUkUmONAouI= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/dPfS2uZrySDUgY_wkrCWkJi_r_4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/eE6abf3HA4THjxK6yC4DsyfWQkE= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ekbbhaoCGo4TqUp3MoXAdRYZZMc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/jrSe6qlOKCD8cNaBMZV6bLaO5fg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/kSLfF1QiVspkFJ5+RaKPIdrkHbs= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/kqlCuXAXmtBifzx5PiHYxGPNJ7M= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/mk40clC10af+L3eCxtNz0jfrQps= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/n9xJiWj_3xLvcGZPZ9wW1yRlgHo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/pSKfxx+mfdJu5S3tecAU4ufuHeE= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/rDsCL9W2BuM3cMLNQ6lfio3s6rA= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/t+TMlDgYrmUhod96LskY0ciNmQw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/uRpHPTikd5Qgn61YskILXLjMyQU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/vYv9Fr4JKwSCMdWaHGvkaQlWiUk= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/vi2ydGxvqkJ99lnkz808WIO7a+A= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0 filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/packageRelease/tmp/release/zip-cache/androidResources filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/packageRelease/tmp/release/zip-cache/javaResources0 filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/+ZHo977VbpHDFshLzQXLPNRZ2I0= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/3uMbmbwA+Mh8f0Py7rxedRMz9to= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/4fqrlw2RY4LwnUf3uaslgViJ58k= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/6V4oAW27HNqq+0yL_zvXekj5ljY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/7pFbbEVHOCHgJbYo4QpZbu0xLsY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/F4l_c4Q1f5YolWMZ8zCY_Bs4kDA= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/LBgfe361xsnSlsp5XYgIN_Whiuw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/Nd0KaNtDrF4Vg3bvzwWc0WQb8lU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/Owr482WTT_nb6cWDjLD9aBbK8Rk= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/Pgk+dNF5_fdQdTPKayb493boANU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/QZUHmRRbw9J3x2RMqDbFfK1E8B4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/QpN_veZ11nMkZOm5es2Rq1rNZGo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/Ss2Msn8j_KJUJ+GSXae4a6gmvCg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/V+QKMzJntr7E9MmhF9hdoZnNk2Y= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/We3uCM+MAKKAY9LjYR4CK53haxc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/WgM5NmRhaHLqqhxaR5YKww2uz5A= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/ZJ8vREghNuyRmA7+2vnmo+2NHYo= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/_8pTOU0sFG9iM01GQ77tuPiCMYU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/aNVN_n+gf6YWP3iy_jQXHJIjwi4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/c3JlM8BHzgYFvJq+SUkUmONAouI= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/dPfS2uZrySDUgY_wkrCWkJi_r_4= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/eE6abf3HA4THjxK6yC4DsyfWQkE= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/ekbbhaoCGo4TqUp3MoXAdRYZZMc= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/jrSe6qlOKCD8cNaBMZV6bLaO5fg= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/kSLfF1QiVspkFJ5+RaKPIdrkHbs= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/kqlCuXAXmtBifzx5PiHYxGPNJ7M= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/mk40clC10af+L3eCxtNz0jfrQps= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/pAmXNBYY3LV8oH1T3dNv08ZvViY= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/pSKfxx+mfdJu5S3tecAU4ufuHeE= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/t+TMlDgYrmUhod96LskY0ciNmQw= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/uRpHPTikd5Qgn61YskILXLjMyQU= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/vYv9Fr4JKwSCMdWaHGvkaQlWiUk= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/vi2ydGxvqkJ99lnkz808WIO7a+A= filter=lfs diff=lfs merge=lfs -text
/build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/yFcRXz1MszZC1C0tPt7s_jmiDMw= filter=lfs diff=lfs merge=lfs -text
*.ap_ filter=lfs diff=lfs merge=lfs -text
*.flat filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.tab filter=lfs diff=lfs merge=lfs -text
*.keystream filter=lfs diff=lfs merge=lfs -text
*.len filter=lfs diff=lfs merge=lfs -text
*.at filter=lfs diff=lfs merge=lfs -text
*.tab_i filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.sha1 filter=lfs diff=lfs merge=lfs -text
*.kotlin_module filter=lfs diff=lfs merge=lfs -text
*.MF filter=lfs diff=lfs merge=lfs -text
/build/path_provider_android/intermediates/incremental/debug-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
/build/path_provider_android/intermediates/incremental/release-mergeJavaRes/merge-state filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.xcsettings filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.xib filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
